{% extends "NiceAdmin/template.html" %}

{% block content %}
    <main id="main" class="main">

    <h1>{{ dish.title }}</h1>
    {% if dish.thai_title %}
        <h2>{{ dish.thai_title }}</h2>
    {% endif %}
    {% if dish.thai_transkript_name %}
        <h3>{{ dish.thai_transcript_name }}</h3>
    {% endif %}
    <h4>Recipes</h4>
    <ul>
        {% for recipe in recipes %}
            <li><strong>{{ recipe.title }}</strong>
                {% if recipe.link %}(<a href="{{ recipe.link }}">{{ recipe.source }}, {{ recipe.subsource }}</a>)
                {% else %}
                   ({{ recipe.source }}, {{ recipe.subsource }})
                {%  endif %}
                {% if recipe.vegetarian == "V" %}
                <span title="Vegetarian" style="color: green;">&#127811</span> <!-- Carrot -->
                {% elif recipe.vegetarian == "F" %}
                <span title="With fish" style="color: blue;">&#128031</span> <!-- Fish -->
                {% elif recipe.vegetarian == "S" %}
                <span title="With seafood" style="color: teal;">&#128026</span> <!-- Shellfish -->
                {% elif recipe.vegetarian == "M" %}
                <span title="With meat" style="color: brown;">&#129386</span> <!-- Cut of meat -->
                {% elif recipe.vegetarian == "N" %}
                <span title="Not specified" style="color: orange;">&#127797</span> <!-- Warning sign -->
                {% else %}
                <span title="No info" style="color: gray;">&#63</span> <!-- Question mark -->
                {% endif %}
                <br><em>{{ recipe.ingredients_string |safe }}</em>
            {%  if not user.is_anonymous %}
            <form>
                <select name="cooked" id="recipe{{ recipe.id }}" class="cooked" onchange="cooked_select({{  recipe.id }})">
                    <option value="N" {%  if recipe.cooked == "N" %}selected{% endif %}>Never cooked</option>
                    <option value="W" {%  if recipe.cooked == "W" %}selected{% endif %}>Want to cook</option>
                    <option value="C" {%  if recipe.cooked == "C" %}selected{% endif %}>Cooked</option>
                    <option value="S" {%  if recipe.cooked == "S" %}selected{% endif %}>My signature dish</option>
                </select>
            </form>
            {%  endif %}
            </li>
            <br>
        {% endfor %}
    </ul>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function cooked_select(recipe_id){
            var options = {};
            options.url = "/select_cooked/" + recipe_id + "/" + $('#recipe' + recipe_id + ' option:selected').val();
            options.method = "get";
            $.ajax(options);
        }
    </script>
    </main>
{% endblock %}