<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree View</title>
    <!-- Подключаем стили jsTree -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.10/themes/default/style.min.css">
</head>
<body>
{% if dish_type == "V" %}
<strong>vegetarian</strong>
{% else %}
<a href="{% url 'tree_veg' %}">vegetarian</a>
{% endif %}
{% if dish_type == "F" %}
<strong>vegetarian + fish</strong>
{% else %}
<a href="{% url 'tree_fish' %}">vegetarian + fish</a> {% endif %}
{% if dish_type == "S" %}
<strong>vegetarian + fish + seafood</strong>
{% else %}
<a href="{% url 'tree_seafood' %}">vegetarian + fish + seafood</a>
{% endif %}
{% if dish_type == "M" %}
<strong>all dishes</strong>
{% else %}
<a href="{% url 'tree' %}">all dishes</a>
{% endif %}

    <div id="tree"></div>

    <!-- Подключаем библиотеку jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключаем jsTree -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.10/jstree.min.js"></script>

    <script>
        $.jstree.defaults.plugins = ['wholerow', 'changed'
	];
        $(function () {
            // Инициализация jsTree
            $('#tree').jstree({
                'core' : {
                    'data' : {
                        'url' : '/get_tree_data/{{ dish_type }}',  // URL для получения данных об объектах
                        'data' : function (node) {
                            return { 'id' : node.id };
                        }
                    }
                }
            });
        });
        $("#tree").on("click", ".jstree-anchor", function(evt)
        {
            var link = $(evt.target).attr("href");
            window.open(link, '_self');
        });
    </script>
</body>
</html>
