<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree</title>
</head>
<body>
{% load mptt_tags %}
<ul>
    {% recursetree categories %}
        <li>
            {{ node.title }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% else %}
                {% for recipe in node.recipe_set.all %}
                    <ul>
                        <li><a href="">{{ recipe.title }}</a></li>
                    </ul>
                {% endfor %}
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
</body>
</html>